.card{
    position: relative;
}
.card img{
    width:100%;
    display: block;
    border:2px solid white;
    border-radius: 6px;
}
/* .card img.back{
    position: absolute;
    z-index: 99999;
    top:0;
    left:0
} */